<table id="sheet0" class="sheet0 gridlines table table-bordered">
    <colgroup>
        <col class="col0">
        <col class="col1">
        <col class="col2">
        <col class="col3">
        <col class="col4">
    </colgroup>
    <tbody>
        <tr class="row0">
            <td class="column0 style6 s style6" rowspan="2">APELLIDOS</td>
            <td class="column1 style6 s style6" rowspan="2">NOMBRES</td>
            <td class="column2 style7 s style7" rowspan="2">HORARIO</td>
            <td class="column3 style5 s style5" colspan="2">EXAMEN PRÁCTICO</td>
        </tr>
        <tr class="row1">
            <td class="column3 style1 s">SOPA</td>
            <td class="column4 style1 s">DESTREZA</td>
        </tr>
        <tr class="row2">
            <td class="column0 style3 s">Aigaje Lanchimba</td>
            <td class="column1 style3 s">Jesyca Soledad</td>
            <td class="column2 style4 s">08:00 - 09:30</td>
            <td class="column3 style1 s">Sopa tipo Puré</td>
            <td class="column4 style1 s">Deshuese</td>
        </tr>
        <tr class="row3">
            <td class="column0 style3 s">Anrango Nipas</td>
            <td class="column1 style3 s">Laura Rocío</td>
            <td class="column2 style4 s">09:45 - 11:15</td>
            <td class="column3 style1 s">Crema</td>
            <td class="column4 style1 s">Fileteo</td>
        </tr>
        <tr class="row4">
            <td class="column0 style3 s">Arellano Farinango</td>
            <td class="column1 style3 s">Paola Cristina</td>
            <td class="column2 style4 s">12:00 - 13:30</td>
            <td class="column3 style1 s">Chowder</td>
            <td class="column4 style1 s">Deshuese</td>
        </tr>
        <tr class="row5">
            <td class="column0 style3 s">Armas Vega</td>
            <td class="column1 style3 s">Jesús Javier</td>
            <td class="column2 style4 s">08:00 - 09:30</td>
            <td class="column3 style1 s">Bisque</td>
            <td class="column4 style1 s">Fileteo</td>
        </tr>
        <tr class="row6">
            <td class="column0 style3 s">Arroyo Peralta</td>
            <td class="column1 style3 s">Angela Vitalia</td>
            <td class="column2 style4 s">09:45 - 11:15</td>
            <td class="column3 style1 s">Consomé</td>
            <td class="column4 style1 s">Deshuese</td>
        </tr>
        <tr class="row7">
            <td class="column0 style3 s">Barahona Tipantocta</td>
            <td class="column1 style3 s">Daysi Yadira</td>
            <td class="column2 style4 s">12:00 - 13:30</td>
            <td class="column3 style1 s">Sopa especial</td>
            <td class="column4 style1 s">Fileteo</td>
        </tr>
        <tr class="row8">
            <td class="column0 style3 s">Bucheli Cisneros</td>
            <td class="column1 style3 s">Sergio Daniel</td>
            <td class="column2 style4 s">08:00 - 09:30</td>
            <td class="column3 style1 s">Sopa tipo Puré</td>
            <td class="column4 style1 s">Fileteo</td>
        </tr>
        <tr class="row9">
            <td class="column0 style3 s">Calero Pazmiño</td>
            <td class="column1 style3 s">Edwin Enrique</td>
            <td class="column2 style4 s">09:45 - 11:15</td>
            <td class="column3 style1 s">Crema</td>
            <td class="column4 style1 s">Deshuese</td>
        </tr>
        <tr class="row10">
            <td class="column0 style3 s">Cañadas Rodriguez</td>
            <td class="column1 style3 s">Catalina Gabriela</td>
            <td class="column2 style4 s">12:00 - 13:30</td>
            <td class="column3 style1 s">Chowder</td>
            <td class="column4 style1 s">Fileteo</td>
        </tr>
        <tr class="row11">
            <td class="column0 style3 s">Changuan Ripalda</td>
            <td class="column1 style3 s">Jorge Aníbal</td>
            <td class="column2 style4 s">08:00 - 09:30</td>
            <td class="column3 style1 s">Bisque</td>
            <td class="column4 style1 s">Deshuese</td>
        </tr>
        <tr class="row12">
            <td class="column0 style3 s">Conza Sarango</td>
            <td class="column1 style3 s">Katty del Cisne</td>
            <td class="column2 style4 s">09:45 - 11:15</td>
            <td class="column3 style1 s">Consomé</td>
            <td class="column4 style1 s">Fileteo</td>
        </tr>
        <tr class="row13">
            <td class="column0 style3 s">Coque Torres</td>
            <td class="column1 style3 s">Gabriela</td>
            <td class="column2 style4 s">12:00 - 13:30</td>
            <td class="column3 style1 s">Sopa especial</td>
            <td class="column4 style1 s">Deshuese</td>
        </tr>
        <tr class="row14">
            <td class="column0 style3 s">Cueva Lara</td>
            <td class="column1 style3 s">Pablo Andrés</td>
            <td class="column2 style4 s">08:00 - 09:30</td>
            <td class="column3 style1 s">Sopa tipo Puré</td>
            <td class="column4 style1 s">Deshuese</td>
        </tr>
        <tr class="row15">
            <td class="column0 style3 s">Cueva Ormaza</td>
            <td class="column1 style3 s">Monica del Rocio</td>
            <td class="column2 style4 s">09:45 - 11:15</td>
            <td class="column3 style1 s">Crema</td>
            <td class="column4 style1 s">Fileteo</td>
        </tr>
        <tr class="row16">
            <td class="column0 style3 s">Díaz Crespo</td>
            <td class="column1 style3 s">Nora Patricia</td>
            <td class="column2 style4 s">12:00 - 13:30</td>
            <td class="column3 style1 s">Chowder</td>
            <td class="column4 style1 s">Deshuese</td>
        </tr>
        <tr class="row17">
            <td class="column0 style3 s">Díaz Miranda</td>
            <td class="column1 style3 s">Damian Arnaldo</td>
            <td class="column2 style4 s">08:00 - 09:30</td>
            <td class="column3 style1 s">Bisque</td>
            <td class="column4 style1 s">Fileteo</td>
        </tr>
        <tr class="row18">
            <td class="column0 style3 s">Groner Castro</td>
            <td class="column1 style3 s">Carlos Andrés</td>
            <td class="column2 style4 s">09:45 - 11:15</td>
            <td class="column3 style1 s">Consomé</td>
            <td class="column4 style1 s">Deshuese</td>
        </tr>
        <tr class="row19">
            <td class="column0 style3 s">Guerra Calvachi</td>
            <td class="column1 style3 s">María Elena</td>
            <td class="column2 style4 s">12:00 - 13:30</td>
            <td class="column3 style1 s">Sopa especial</td>
            <td class="column4 style1 s">Fileteo</td>
        </tr>
        <tr class="row20">
            <td class="column0 style3 s">Jaramillo Saavedra</td>
            <td class="column1 style3 s">Sebastián</td>
            <td class="column2 style4 s">08:00 - 09:30</td>
            <td class="column3 style1 s">Sopa tipo Puré</td>
            <td class="column4 style1 s">Fileteo</td>
        </tr>
        <tr class="row21">
            <td class="column0 style3 s">Jiménez Pazmiño</td>
            <td class="column1 style3 s">Nicole</td>
            <td class="column2 style4 s">09:45 - 11:15</td>
            <td class="column3 style1 s">Crema</td>
            <td class="column4 style1 s">Deshuese</td>
        </tr>
        <tr class="row22">
            <td class="column0 style3 s">Manjarrés Mora</td>
            <td class="column1 style3 s">Fernando David</td>
            <td class="column2 style4 s">12:00 - 13:30</td>
            <td class="column3 style1 s">Chowder</td>
            <td class="column4 style1 s">Fileteo</td>
        </tr>
        <tr class="row23">
            <td class="column0 style3 s">Montenegro Morillo</td>
            <td class="column1 style3 s">David Brayan</td>
            <td class="column2 style4 s">08:00 - 09:30</td>
            <td class="column3 style1 s">Bisque</td>
            <td class="column4 style1 s">Deshuese</td>
        </tr>
        <tr class="row24">
            <td class="column0 style3 s">Morante Pallaroso</td>
            <td class="column1 style3 s">Mayra Alexandra</td>
            <td class="column2 style4 s">09:45 - 11:15</td>
            <td class="column3 style1 s">Consomé</td>
            <td class="column4 style1 s">Fileteo</td>
        </tr>
        <tr class="row25">
            <td class="column0 style3 s">Mugmal Pupiales</td>
            <td class="column1 style3 s">Geovanna Elizabeth</td>
            <td class="column2 style4 s">12:00 - 13:30</td>
            <td class="column3 style1 s">Sopa especial</td>
            <td class="column4 style1 s">Deshuese</td>
        </tr>
        <tr class="row26">
            <td class="column0 style3 s">Ortega Cadena</td>
            <td class="column1 style3 s">Estefany Andrea</td>
            <td class="column2 style4 s">08:00 - 09:30</td>
            <td class="column3 style1 s">Sopa tipo Puré</td>
            <td class="column4 style1 s">Deshuese</td>
        </tr>
        <tr class="row27">
            <td class="column0 style3 s">Pérez Telenchay&nbsp;</td>
            <td class="column1 style3 s">Tania Noemi</td>
            <td class="column2 style4 s">09:45 - 11:15</td>
            <td class="column3 style1 s">Crema</td>
            <td class="column4 style1 s">Fileteo</td>
        </tr>
        <tr class="row28">
            <td class="column0 style3 s">Prado Chalacán</td>
            <td class="column1 style3 s">Hilda Cecilia</td>
            <td class="column2 style4 s">12:00 - 13:30</td>
            <td class="column3 style1 s">Chowder</td>
            <td class="column4 style1 s">Deshuese</td>
        </tr>
        <tr class="row29">
            <td class="column0 style3 s">Rochina Bayas</td>
            <td class="column1 style3 s">Eddison Manuel</td>
            <td class="column2 style4 s">08:00 - 09:30</td>
            <td class="column3 style1 s">Bisque</td>
            <td class="column4 style1 s">Fileteo</td>
        </tr>
        <tr class="row30">
            <td class="column0 style3 s">Salgado Portillo</td>
            <td class="column1 style3 s">Washington David</td>
            <td class="column2 style4 s">09:45 - 11:15</td>
            <td class="column3 style1 s">Consomé</td>
            <td class="column4 style1 s">Deshuese</td>
        </tr>
        <tr class="row31">
            <td class="column0 style3 s">Saud Gálvez&nbsp;</td>
            <td class="column1 style3 s">Nahir Estefanía</td>
            <td class="column2 style4 s">12:00 - 13:30</td>
            <td class="column3 style1 s">Sopa especial</td>
            <td class="column4 style1 s">Fileteo</td>
        </tr>
        <tr class="row32">
            <td class="column0 style3 s">Torres Morales</td>
            <td class="column1 style3 s">Danny Alejandro</td>
            <td class="column2 style4 s">08:00 - 09:30</td>
            <td class="column3 style1 s">Sopa tipo Puré</td>
            <td class="column4 style1 s">Fileteo</td>
        </tr>
        <tr class="row33">
            <td class="column0 style3 s">Valdéz Moncayo</td>
            <td class="column1 style3 s">Raúl Alejandro</td>
            <td class="column2 style4 s">09:45 - 11:15</td>
            <td class="column3 style1 s">Crema</td>
            <td class="column4 style1 s">Deshuese</td>
        </tr>
        <tr class="row34">
            <td class="column0 style3 s">Valdiviezo Vera</td>
            <td class="column1 style3 s">Xavier Aldhair</td>
            <td class="column2 style4 s">12:00 - 13:30</td>
            <td class="column3 style1 s">Chowder</td>
            <td class="column4 style1 s">Fileteo</td>
        </tr>
    </tbody>
</table>