 <!-- START - Top area -->
<div class="top-container">
    <div class="container">
        <div class="top-column-left">
            <ul class="contact-line">
                <li><a href="mailto:info@culinaryartschoolecuador.com"><i class="fa fa-envelope"></i> info@culinaryartschoolecuador.com</a></li>
                <li><i class="fa fa-phone"></i> (593-2) 246 8620</li>
            </ul>
        </div>
        <div class="top-column-right">
            <div class="top-social-network">
                <a href="https://www.facebook.com/Culinary-Arts-School-Ecuador-216939771712267/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/CAS_ECUADOR?lang=es" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://www.youtube.com/user/CulinaryArtsSchoolEc" target="_blank"><i class="fa fa-youtube-play"></i></a>
            </div>
            <ul class="register">
                <li class="dropdown language" style="display: block;">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-globe"></i> Languages</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Español <i class="fa fa-check"></i></a></li>
                    </ul>
                </li>
                <li class="dropdown language" style="display: block;">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user-o"></i> Acceder</a>
                    <ul class="dropdown-menu">
                        <li><a href="https://academico.quitec.com.ec/estudiante"><i class="fa fa-user-o"></i> Estudiantes</a></li>
                        <li><a href="https://academico.quitec.com.ec/docente"><i class="fa fa-user-o"></i> Docentes</a></li>
                        <li><a href="https://academico.quitec.com.ec/CAS/Login.aspx"><i class="fa fa-user-o"></i> Administrativo</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END - Top area -->

<div class="clearfix"></div>

<!-- START - Navbar -->
<nav class="navbar navbar-default navbar-dark megamenu">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand logo" href="@Url.Action("Index", "Home")">
                <img src="~/img/logo-cas.png" alt="Logo" />
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="nav navbar-nav navbar-right">
                <li class="active dropdown">
                    <a href="@Url.Action("Index", "Home")" class="dropdown-toggle" data-toggle="dropdown">Inicio</a>
                </li>
                <li><a href="@Url.Action("Index", "Inscripcion")">Preinscripcion</a></li>
                <li><a href="@Url.Action("Index", "Evento")">Eventos</a></li>
                <li class="dropdown">
                    <a href="http://www.culinaryartschoolecuador.com/carreras/" class="dropdown-toggle" data-toggle="dropdown">Carreras</a>

                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Instalaciones</a>
                    <ul class="dropdown-menu">
                        <li><a href="http://www.culinaryartschoolecuador.com/sede-valle-de-los-chillos/">Sede Valle de los Chillos</a></li>
                        <li><a href="http://www.culinaryartschoolecuador.com/sede-sur-quito/">Sede Sur Quito</a></li>
                    </ul>
                </li>
                <li><a href="http://www.culinaryartschoolecuador.com/contacto/">Contacto</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>
<!-- END - Navbar -->
